.listaEmpaque-table-container {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--color-ListaEmpaqueFondo);
    color: var(--color-ListaEmpaqueTexto);
    width: 100%;
}

.listaEmpaque-table-containter-tipo{
    background-color: var(--color-fondo);
    padding: 15px 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.listaEmpaque-table-show-items {
    display: flex;
    gap: 25px;
}

.listaEmpaque-table-show-items span {
    font-weight: bold;
}


