.inventario-descartes-tables-container{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 15px;
}

.inventario-descartes-container-button-enviar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5rem;
    padding-right: 2.5rem;
}

.div-formulario-envio-inventario-descarte{
    display: flex;
    flex-direction: row;
}

.info-kilos-fruta-enviar-div{
    padding: 18px;
    width: 300px;
}

.info-kilos-fruta-enviar-div h2{
    font-weight: bold;
}

.info-kilos-fruta-enviar-div-item{
   display: flex;
   flex-direction: row;
   gap: 3px;
}