.ingresar-clasificacion-calidad-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
}

.ingresar-clasificacion-calidad-total-container{
    background-color: var(--color-fondo);
    padding: 15px;
    position: fixed;
    left: 75%;
    top: 50px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ingresar-clasificacion-calidad-total-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.ingresar-clasificacion-calidad-tarjetas-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 8px;
}

.ingresar-clasificacion-calidad-tarjeta-div{
    background-color: var(--color-ListaEmpaqueFondo);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 18px;
    border-radius: 18px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.ingresar-clasificacion-calidad-tarjeta-div h3{
    font-weight: bold;
}